

<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- [ @article, @article.comments.build ] -->

  <div class="field">
    <%= form.label :speaker_id %>
    <%= form.collection_select :speaker_id, @speakers, :id, :name, {prompt: "Select a speaker"}, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.collection_select :room_id, @rooms, :id, :room_number, {prompt: "Select a room"}, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :topic %>
    <%= form.text_field :topic , class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :timeslot %>
    <%# <%= form.collection_select :timeslot, Schedule::TIMESLOT, :to_s, :to_s, {prompt: "Select timeslot"}, {class: "form-control"} %>
    <%# <%= form.select :timeslot, Schedule::TIMESLOT, {:prompt => "Choose One"}, class: "form-control" %>
    <%= form.select(:timeslot, Schedule::TIMESLOT,{:prompt => "Choose One"}, class: "form-control") %>
  </div>

  <div class="field">
    <%= form.label :slide_url %>
    <%= form.text_area :slide_url, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :video_url %>
    <%= form.text_area :video_url, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
