<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :speaker_id %>
    <%= form.text_field :speaker_id %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.text_field :room_id %>
  </div>

  <div class="field">
    <%= form.label :topic %>
    <%= form.text_field :topic %>
  </div>

  <div class="field">
    <%= form.label :slide_url %>
    <%= form.text_area :slide_url %>
  </div>

  <div class="field">
    <%= form.label :video_url %>
    <%= form.text_area :video_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
