<p id="notice"><%= notice %></p>

<p>
  <strong>Speaker:</strong>
  <%= @schedule.speaker.name %>
</p>

<p>
  <strong>Room:</strong>
  <%= @schedule.room.room_number %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @schedule.topic %>
</p>

<p>
  <strong>Timeslote:</strong>
  <%= @schedule.timeslot %>
</p>

<p>
  <strong>Slide url:</strong>
  <%= @schedule.slide_url %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @schedule.video_url %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
