
<div class="panel panel-default">
  <div class="panel-body">
    <dl class="row">
      <dt class="col-sm-3">Room number:</dt>
      <dd class="col-sm-9"><%= @room.room_number %></dd>
      <br><br>
      <dt class="col-sm-3">Building:</dt>
      <dd class="col-sm-9"><%= @room.building %></dd>
      <br><br>
      <dt class="col-sm-3">Direction:</dt>
      <dd class="col-sm-9"><%= @room.direction %></dd>
    </dl>
  </div>
</div>

<% if @room.schedules.length > 0 %>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Speaker</th>
      <th>Room</th>
      <th>Topic</th>
      <th>Timeslot</th>
      <th>Slide url</th>
      <th>Video url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @room.schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.speaker.name %></td>
        <td><%= schedule.room.room_number %></td>
        <td><%= schedule.topic %></td>
        <td><%= schedule.timeslot %></td>
        <td><%= schedule.slide_url %></td>
        <td><%= schedule.video_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to '<button class="btn btn-link" type="button">Edit</button>'.html_safe, edit_room_path(@room) %> |
<%= link_to '<button class="btn btn-link" type="button">Back</button>'.html_safe, rooms_path %>
