<%= form_with(model: speaker, local: true) do |form| %>
  <% if speaker.errors.any?  %>
    <div class="<%= 'alert alert-danger' if @speaker.errors.any?%>">
      <h5><%= pluralize(speaker.errors.count, "error") %> prohibited this speaker from being saved:</h5>

      <ul>
      <% speaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group <%= 'has-error' if @speaker.errors.has_key?(:name) %>">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group <%= 'has-error' if @speaker.errors.has_key?(:profile_photo) %>">
    <%= form.label :profile_photo %>
    <%= form.file_field :profile_photo, class: "form-control" %>
  </div>

  <div class="form-group <%= 'has-error' if @speaker.errors.has_key?(:company) %>" >
    <%= form.label :company %>
    <%= form.text_field :company, class: "form-control" %>
  </div>

  <div class="form-group <%= 'has-error' if @speaker.errors.has_key?(:position) %>">
    <%= form.label :position %>
    <%= form.text_field :position, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
