<div class="panel panel-default">
  <div class="panel-body">
    <dl class="row">
      <dt class="col-sm-3">Name:</dt>
      <dd class="col-sm-9"><%= @speaker.name %></dd>
      <br><br>
      <dt class="col-sm-3">Company:</dt>
      <dd class="col-sm-9"><%= @speaker.company %></dd>
      <br><br>
      <dt class="col-sm-3">Position:</dt>
      <dd class="col-sm-9"><%= @speaker.position %></dd>
      <br><br>
      <dt class="col-sm-3">Profile url:</dt>
      <dd class="col-sm-9"><%= @speaker.profile_url %></dd>
    </dl>
  </div>
</div>

<% if @speaker.schedules.length > 0 %>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Speaker</th>
      <th>Room</th>
      <th>Topic</th>
      <th>Timeslot</th>
      <th>Slide url</th>
      <th>Video url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speaker.schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.speaker.name %></td>
        <td><%= schedule.room.room_number %></td>
        <td><%= schedule.topic %></td>
        <td><%= schedule.timeslot %></td>
        <td><%= schedule.slide_url %></td>
        <td><%= schedule.video_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to '<button class="btn btn-link" type="button">Edit</button>'.html_safe, edit_speaker_path(@speaker) %> |
<%= link_to '<button class="btn btn-link" type="button">Back</button>'.html_safe, speakers_path %>
