<!DOCTYPE html>
<html>
  <head>
    <title>IT Camp Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <%= nav_bar responsive: true, fixed: :top, brand: "Admin Panel" do %>
   <% if current_user %>
    <%= menu_group do %>
        <%= menu_item "Schedules", schedules_path %>
        <%= menu_item "Speakers", speakers_path %>
        <%= menu_item "Rooms", rooms_path %>
    <% end %>
   <% end %>

        <%= menu_group pull: :right do %>
          <% if user_signed_in? %>
            <%= menu_item "#{current_user.email}", edit_user_registration_path %>
            <%= menu_item "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= menu_item "Sign Up", new_user_registration_path %>
            <%= menu_item "Log In", new_user_session_path %>,
          <% end %>
      <%#=   <%= form_for @user, url: user_session_path(:user) do |f| -%> 
          <%#=    <p><%= f.text_field :email %></p>
          <%#=    <p><%= f.password_field :password %></p>
          <%#=    <p><%= f.submit "Sign in" %></p>
          <%#=  <% end -%>  
    <% end %>
  <% end %>
    <div class="container">
      <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
      <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>
      <%= yield %>
    </div>
  </body>
</html>
