<!DOCTYPE html>
<html>
  <head>
    <title>ItcampAdmin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= nav_bar fixed: :top, brand: "Admin Panel" do %>
    <%= menu_group do %>
        <%= menu_item "Schedules", schedules_path %>
        <%= menu_item "Speakers", speakers_path %>
        <%= menu_item "Rooms", rooms_path %>
    <% end %>
<% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
